[submodule "lib/pico-tflmicro"]
	path = lib/pico-tflmicro
	url = https://github.com/raspberrypi/pico-tflmicro.git
[submodule "lib/hm01b0-library-for-pico"]
	path = lib/hm01b0-library-for-pico
	url = https://github.com/ArmDeveloperEcosystem/hm01b0-library-for-pico.git
[submodule "lib/example-of-a-slackbot-for-pico-w"]
	path = lib/example-of-a-slackbot-for-pico-w
	url = https://github.com/ArmDeveloperEcosystem/example-of-a-slackbot-for-pico-w.git
